/SqlConnectionPoolProject/build
/TaskManagerDemo/build
/AnimatedHeart/AnimatedHeart/.vs
/AnimatedHeart/AnimatedHeart/AnimatedHeart/x64
*.pdb
/Win32UIDemo/.vs
/Win32UIDemo/build
/Win32UIDemo/out
/AnimatedHeart/AnimatedHeart/x64
*.db
*.db-shm
*.db-wal
*.vsidx
/AnimatedHeart/.vs
*.recipe
*.log
*.ilk
*.tlog
*.txt
*.json
*.opendb
*.obj
*.check_cache
*.yaml
*.list
*.cmake
*.bin
*.depend
*.rule
*.stamp
/launcher/build
/launcher-client/out
/launcher-client/build
*.sqlite
/launcher-client/.vs
/AnimatedHeart/x64
/WinHTTPGuiDemo/out
/WinHTTPGuiDemo/.vs
/Common/build
/ConsumerApp/out
/CoroutineDemo/build
/Lua/build
/SvnOperation/build
/SvnOperation/out
/SvnOperation/out
/WinHTTPGuiDemo/build
/SvnOperation/out
/App/build/.vs
/App/build
/App/.vs
/Common/cmake
/ConsumerApp/.vs
/Lua/cmake
/SvnOperation/.vs
/SvnOperation/build
/SvnOperation/build
/SvnOperation/.vs
/SvnOperation/.vs
/SvnOperation/.vs
/SvnOperation/build
/SvnOperation/out/build
/SvnOperation/build
*.sdf
/Coroutines/build
/Coroutines/.vs
/ConcurrencyLogPipe/build-Release
